<ion-view view-title="Cek NISN Online" ng-controller="MainCtrl">
	<ion-content class="scroll-content has-header" overflow-scroll="false">
		 <div class="im-wrapper">
            <!-- Ionic Components -->
            <h4 class="border-top">
                <i class="icon ion-person"></i>
                Cek NISN Online <br>

                
                <input type="hidden" name="tgl_lahir" value="{{ byId.tanggal_lahir | date : 'yyyy-MM-dd' }}" />
                    
            </h4>
            <p>Aplikasi ini berguna untuk anda yang ingin mengetahu <strong>NISN</strong>  yang hilang</p>
            <p>
                <em>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit porro tenetur commodi sapiente. Deserunt, numquam. Suscipit voluptates quis eum cumque eaque perferendis sunt, adipisci porro rem ipsa nulla obcaecati quisquam!
                </em>
            </p>
       </div>
	</ion-content>
</ion-view>

