<ion-view view-title="Cek NISN Online">
	<ion-content class="scroll-content has-header" overflow-scroll="false">
		 <div class="im-wrapper">
            <!-- Ionic Components -->
            <h4 class="border-top">
                <i class="icon ion-person"></i>
                Cek NISN Online <br>
            </h4>
            <p>Aplikasi ini berguna untuk anda yang ingin mengetahu <strong>NISN</strong>  yang hilang</p>
            <p>
                <em>Ionic Material aims to provide Ionic with the "...visual language [that] synthesizes the classic principles of good design with the innovation and possibility of technology and science."</em>
            </p>
       </div>
	</ion-content>
</ion-view>

