<ion-view title="Output">
    <ion-content class="im-wrapper">
        <ion-list class="disable-user-behavior animate-fade-slide-in-right"><div class="list">
            <ion-item nav-clear="" menu-close="" class="item-icon-right  item in done" ng-click="blinds();" style="transition-delay: 0.53s;">
                <h2>Nama</h2>
                <p>ionic.material.motion.blinds();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear="" menu-close="" class="item-icon-right  item in done" ng-click="blinds();" style="transition-delay: 0.53s;">
                <h2>NISN</h2>
                <p>ionic.material.motion.blinds();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear="" menu-close="" class="item-icon-right  item in" ng-click="ripple();" style="transition-delay: 0.6s;">
                <h2>Jenis Kelamin</h2>
                <p>ionic.material.motion.ripple();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear="" menu-close="" class="item-icon-right item in" ng-click="fadeSlideIn();" style="transition-delay: 0.67s;">
                <h2>Tempat Lahir</h2>
                <p>oweifhoweifhowehfoiwehfoweihfoiweh</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear="" menu-close="" class="item-icon-right item in" ng-click="fadeSlideInRight();" style="transition-delay: 0.74s;">
                <h2>Tanggal Lahir</h2>
                <p>ionic.material.motion.fadeSlideInRight();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
        </div></ion-list>
    </ion-content>
</ion-view>