<ion-view title="Hasil Pencarian" ng-controller="OutputCtrl">
    <ion-content class="" overflow-scroll="false">
        <!--<ion-list class="disable-user-behavior animate-fade-slide-in-right"><div class="list">
            <ion-item nav-clear="" menu-close="" class="item-icon-right  item in done" ng-click="blinds();" style="transition-delay: 0.53s;">
                <h2>Nama</h2>
                <p>ionic.material.motion.blinds();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear="" menu-close="" class="item-icon-right  item in done" ng-click="blinds();" style="transition-delay: 0.53s;">
                <h2>NISN</h2>
                <p>ionic.material.motion.blinds();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear="" menu-close="" class="item-icon-right  item in" ng-click="ripple();" style="transition-delay: 0.6s;">
                <h2>Jenis Kelamin</h2>
                <p>ionic.material.motion.ripple();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear="" menu-close="" class="item-icon-right item in" ng-click="fadeSlideIn();" style="transition-delay: 0.67s;">
                <h2>Tempat Lahir</h2>
                <p>oweifhoweifhowehfoiwehfoweihfoiweh</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear="" menu-close="" class="item-icon-right item in" ng-click="fadeSlideInRight();" style="transition-delay: 0.74s;">
                <h2>Tanggal Lahir</h2>
                <p>ionic.material.motion.fadeSlideInRight();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
        </div></ion-list>-->

        <div class="content">
            <div class="hero button-assertive" style="height:35vh">
                <div class="content">
                    <!--<div class="avatar button-red" style="background-image: url('../../img/cowo.png');"></div>-->
                    <div ng-show="result.siswa[0].jenis_kelamin == 'Laki Laki'">
                        <img src="img/cowo.png" alt="" style="margin-top:6em !important">
                    </div>
                    <div ng-show="result.siswa[0].jenis_kelamin == 'Perempuan'">
                        <img src="img/cewe.png" alt="" style="margin-top:6em !important">
                    </div>
                    <h3 style="position:relative;top:10px;margin-bottom:30px;font-weight:bold"><a class="light">{{ result.siswa[0].nama }}</a></h3>
                </div>
            </div>
            <!--<div class="button-bar">
                <button class="button button-dark waves-effect waves-button waves-classic icon ion-images"></button>
                <button class="button button-dark waves-effect waves-button waves-classic icon ion-stats-bars"></button>
            </div>-->
            <!--<h4 class="positive content padding double-padding-x assertive">Data Diri</h4>-->
            <br><br>
            <div class="list animate-fade-slide-in-right">
                <a class="item item-avatar waves-effect waves-button waves-dark in done" style="transition-delay: 0.39s;">
                    <span class="avatar text-center" style="">
                        <i class="ion-android-bookmark" style="font-size:2.5em"></i>
                    </span> 
                    <h2>NISN</h2>
                    <p>{{ result.siswa[0].nisn }} </p>
                </a>
                <a class="item item-avatar waves-effect waves-button waves-dark in done" style="transition-delay: 0.39s;">
                    <span ng-show="result.siswa[0].jenis_kelamin == 'Laki Laki'" class="avatar text-center" style="">
                        <i class="icon ion-male" style="font-size:2.5em"></i>
                    </span>
                    <span ng-show="result.siswa[0].jenis_kelamin == 'Perempuan'" class="avatar text-center" style="">
                        <i class="icon ion-female" style="font-size:2.5em"></i>
                    </span>
                    <h2>Jenis Kelamin</h2>
                    <p>{{ result.siswa[0].jenis_kelamin }} </p>
                </a>
                <a class="item item-avatar waves-effect waves-button waves-dark in" style="transition-delay: 0.42s;">
                    <span class="avatar text-center" style="">
                        <i class="ion-location" style="font-size:2.5em"></i>
                    </span>
                    <h2>Tempat Lahir</h2>
                    <p>{{ result.siswa[0].tempat_lahir }} </p>
                </a>
                <a class="item item-avatar waves-effect waves-button waves-dark in" style="transition-delay: 0.42s;">
                    <span class="avatar text-center" style="">
                        <i class="ion-calendar" style="font-size:2.5em"></i>
                    </span>
                    <h2>Tanggal Lahir</h2>
                    <p>{{ result.siswa[0].tanggal_lahir }} </p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>